* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  padding: 20px 60px;
}

ul {
  display: flex;
  gap: 20px;

  list-style: none;
}

ul a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul a:hover {
  color: #aaa; /* or any color you want */
}

section {
  padding: 0 60px;
}

.hero {
  
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  background-image: url("./assets/cstore.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;

  max-width: 500px;
}

button {
  width: fit-content;

  padding: 15px 30px;

  border: none;
  border-radius: 10px;

  background: white;
  color: black;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

button:hover {
  background: #e0e0e0;
  transform: translateY(-2px);
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {

  nav {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
    max-width: 90%;
  }
  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-buttons button {
    width: 100%;
  }

}

.products {
  padding: 80px 60px;
}

.product-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;

  margin-top: 40px;
}

.card {
  background: #111;

  padding: 20px;

  border-radius: 10px;
  
}

.card :hover {
  color: red;
}

.card img {
  width: 100%;

  border-radius: 10px;

  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
}

.product-grid img {
  transition: transform 0.3s ease;
}

.product-grid img:hover {
  transform: scale(1.05);
}
.card {
  overflow: hidden;
}

@media (max-width: 768px) {

  .product-grid {
    grid-template-columns: 1fr;
  }

}

.purple-btn {
  background-color: purple;
  color: white;
}

.green-btn {
  background-color: green;
  color: white;
}

.orange-btn {
  background-color: orange;
  color: white;
}

.counter-section {
  padding: 100px 20px;

  text-align: center;
}

input {
  width: 100%;

  max-width: 400px;

  padding: 15px;

  margin-top: 30px;

  border: none;

  border-radius: 10px;

  font-size: 1rem;
}

